@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto';
  background-color: black;
}

.pagewrap {
  background-color: black;
  height: 100%;
}

.gameboard, .scoreboard {
  margin: 5%;
}

.gameboard-button, .scoreboard {
  color: white;
}

.gameboard {
  font-size: 10em;
  background-color: white;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 140px;
  grid-gap: 5px 5px;
}

.gameboard-button {
  transition-property: font-size;
  transition-duration: .5s;
  line-height: 140px;
  background-color: black;
  cursor: pointer;
}

.scoreboard {
  padding: 0 2em 0 2em;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.scoreboard-score {
  padding-top: .3em;
  font-size: 1.2em;
}

.unfocused {
  color: grey;
}

.hidden {
  display: none;
}

.flash {
  font-size: 1.4em;
  transition-property: font-size;
  transition-duration: .5s;
}